// VARIABLES
// Screen
$narrow-screen: 640px;
// Colors
$brand-icon-color: #ffffff;
$brand-linkedin-color: #063896;
$brand-twitter-color: #37abc0;
$brand-github-color: #333;
$light-black-color: #4a4a4a;
$light-red-color: rgba(255, 74, 110, .2);
$light-purple-color: rgba(184, 107, 255, .2);
$light-yellow-color: rgba(255, 221, 87, .2);
$light-turquoise-color: rgba(35, 209, 153, .2);
$light-bg-shadow: rgba(0, 0, 0, 0.1);
$light-bg-green: #65D876;
$light-bg-green-doco: #54be8b;
$primary-doco: #494DA5;
$h-color: #606060;
$secondary-doco: #6DC415;
$p-doco: #222222;
$grey-normal: #F4F4F4;
$grey-light: #f5f5f8;
// Shadows
$light-bg-shadow-down: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
$light-bg-shadow-up: 0 10px 20px rgba(216, 145, 145, 0.5);
// Transitions
$ease-in-out-transition: 300ms ease-out;
// Bootstrap variables
$link: $light-black-color;
$section-padding: 1.5rem 1.5rem;
// Font
$font-size-paragraph: 14px;
$p-fontW: 600;
$p-opacity: 0.9;
// font faces
$font-face-light: 'open-sans-light';
$font-face-normal: 'open-sans';
// Palette
$button-main: #348abf;
$button-main-hover: #0c5887;
$light-green: #80ded9;
$selected: #d1f4f3;
$light-blue: #00c5dc;
$button-blue: #36a3f7;
$button-blue-hover: #26a3f7;
$button-red: #f4516c;
$button-red-hover: #bb4359;
$dark:#000000;
$light: #ffffff;
$dark-grey: #37474f;
$light-grey: #606060;
$soft-grey:#f5f5f5;
$shadow: #d5d5d5;
$odd-row: #fcfcfc;
$jingga: #ff7f00;
$background-active-notification: #DBFFF6;
$button-odontogram-hover: #d8ffed;
$button-border: #d6d6d6;
$button-triage-danger: #d62d54;
$button-triage-warning: #e5d92c;
$button-triage-success: #359445;
$button-triage-black: #606060;
$edited-row: #E8F5E9;

$primary-green: #348abf;
$border-advanced-btn: #dddddd;

$grey-secondary: #777777;

$stock-unavailable: #fdb7b7;
