@import '../variables.scss';
.footer{
    margin:0px auto 30px auto;
    position:relative;
    bottom:0px;
    padding-top:20px;
    z-index: 0;
    padding-right:40px;
}
.footer > p{
    text-align: center;
}
.sirs-logo{
    max-width:110px; 
    width:100%; 
    height:auto;
}
.footer:hover{
    transition-duration: 2s;
}
