; --------------------- Setup Database ---------------------

[database]
conn_str = "pgsql:host=192.168.200.254;port=5432;dbname=db_docohealth"
user = "postgres"
password = "bdgRkamil"

; --------------------- Setup Redis ---------------------

[redis]
name = ""
hostname = ""
port = ""
database = 

; --------------------- Setup Session ---------------------

[session]
session_name = ""

; --------------------- Setup Bot Telegram ---------------------

[chat_id]
telegram = ""
server = ""

; --------------------- Setup Service ---------------------

[service]
name = "Gudang"
mail = "admin@example.com"


; --------------------- Setup Server Fe ---------------------
[server]
url = "http://202.72.195.75:8001"
