vendor/
.vscode/

informasi/*
rajal/*
rm/*
kasir/*
apotek/*
pendaftaran/*
antrian/*
master/*
gudang/*

/informasi/*
/rajal/*
/rm/*
/kasir/*
/apotek/*
/pendaftaran/*
/antrian/*
/master/*
/gudang/*

runtime/
config/env/.env
corecomponents/temp
web/uploads