.bgk-simrsdoco{
  background-color: #58de9e;
  border-color: #58de9e;
  color: #fff;
}
.panel-body{
  padding: 15px;
}
.ui-keyboard-button{
    height: 75px;
    width: 75px;
}
/*.rm-field,.form-control{
    height: 35px;
}*/
.container-keyboard-virtual{
        margin-top: 30px;
        background-color: #fff;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
        line-height: 3;

        /*color: #fff;*/
        /*text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);*/
}
.img-rs{
  border-right: 1px solid #fff;
  padding-right: 30px;
}

.box-antrian{
  height: 100%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #009688;
    background-color: #e0f2f1;
    border-color: #009688;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background-color: #009688;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
    border-color: #00796B;
}

.btn-danger.raised {
    box-shadow: 0 3px 0 0 #A33E29;
    background-color: rgba(244,180,165,0.4);
    border-color: #A33E29;
}
.btn-danger.raised:active, .btn-danger.raised.active {
    background-color: #A33E29;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
    border-color: #A33E29;
}
.btn-warning.raised {
    box-shadow: 0 3px 0 0 #F6DE68;
    background-color: rgba(244,233,176,0.4);
    border-color: #F6DE68;
}
.btn-warning.raised:active, .btn-warning.raised.active {
    background-color: #F6DE68;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
    border-color: #F6DE68;
}
.btn-huge{
    padding-top:30px;
    padding-bottom:30px;
}
.btn-huge-next, .btn-huge-prev, .btn-huge-finish{
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 130px;
    padding-left: 130px;  
}

.plan {
    float:left;
    padding-bottom: 14px;
}

.plan input{
  display: none;
}

.plan span {
  font-size: 64px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .lbl-on {
        /* padding: 7px; */
        width: 213px;
        height: 213px;
    }

    .lbl-off {
        /* padding: 7px; */
        width: 213px;
        height: 213px;
    }

    .opt-dokter {
        padding: 5px;
    }

    .plan {
        /* float:left; */
        padding-bottom: 5px;
    }
}

.reload-antrian, .back-step {
    font-size: 2.5vh;
    padding: 15px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.button-back-custom {
    padding-left: 45px;
    padding-right: 45px;
}

.stepy-navigator-custom {
    margin-left: 5px important;
}

.carousel-button {
    padding: 20px;
}

.lbl-on {
  padding: 7% 0% 0% 0%;
  background: #58de9e;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
  display: block;
  cursor: pointer;
}

.lbl-on-cb {
  padding: 7% 0% 7% 0%;
  background: #58de9e;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
  display: block;
  cursor: pointer;
}

.lbl-off {
  padding: 7% 0% 0% 0%;
  background: #e44f4f;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
  display: block;
  cursor: pointer;
}

.lbl-on:hover {
  box-shadow: 5px 5px 0px 0px #d5d5d5;
  background: #4caf7d;
  color: #ffffff;
  cursor: pointer;
}

.lbl-on-cb:hover {
  box-shadow: 5px 5px 0px 0px #d5d5d5;
  background: #4caf7d;
  color: #ffffff;
  cursor: pointer;
}

.lbl-off:hover {
  box-shadow: 5px 5px 0px 0px #d5d5d5;
  color: #ffffff;
  cursor: pointer;
}

.plan input:checked + .btn-primary.raised{
    box-shadow: 0 3px 0 0 #009688;
    background-color: #4DB6AC;
    border-color: #009688;
    color: #fff;
}
.plan input:checked + label:after{
  content: "\2713";
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #333;
  background-color: #00796B;
  /*border-color: black;*/
  z-index: 999;
  position: absolute;
  top: -10px;
  right: -10px;
}

.label-btn-buka{
  display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1px;
    background-color: #4CAF50;
    border-radius: 0;
    color:#fff;
}
.label-btn-tutup{
  display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1px;
    background-color: #F44336;
    border-radius: 0;
    color:#fff;
}
.label-btn-penuh{
/*    display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1px;*/
    background-color: #25c77a;
   /* border-radius: 0;
    color:#fff;*/
}


label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #58de9e;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #58de9e;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #58de9e;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
  color: #58de9e;
-webkit-box-shadow: none;
box-shadow: none;
}
.container-label {
    padding: 2px 16px;
}

#confirm-dialog-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
  z-index: 1070;
}

#confirm-dialog {
  position: fixed;
  color: white;
  background-color: rgba(0,0,0,.85);
  z-index: 1070;
  width: 100%;
  top: 50%;
  font-size: 13px;
}

#confirm-dialog .dialog-content {
  padding: 30px;
  padding-left: 10%;
  padding-right: 0%;
  width: 80%;
  float: left;
}

.split-card-antrian-on {
  margin: 0px;
  border-top: 2px solid;
  font-weight: bold;
  /*background: #25c77a;*/
}

.split-card-antrian-off {
  padding-top: 14px;
  margin: 0px;
  border-top: 2px solid;
  font-weight: bold;
  /*background: #d43131;*/
}

#ambil-antrian-form-header {
  padding: 10px 10px 18px 10px;
  font-size: 18px;
  font-weight: bold;
}

.stepy-header li {
    margin-top:5px;
}

.stepy-header li.stepy-active span {
    color: #555
}

.stepy-header li.stepy-active div {
    cursor: auto;
    border-color: #58de9e;
    background-color: #fff;
    color: #58de9e;
}

.stepy-header li div {
    background-color: #58de9e;
    font-size: 0;
    position: relative;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 38px;
    height: 38px;
    border: 2px solid #58de9e;
    z-index: 10;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
}

.stepy-header li:after, .stepy-header li:before {
    content: '';
    display: block;
    position: absolute;
    top: 43px;
    width: 50%;
    height: 2px;
    background-color: #58de9e;
    z-index: 9;
}

.stepy-navigator {
    text-align: center;
}

.text-default {
    color: #ffffff !important;
}

.text-default a:hover{
    color: #606060 !important;
}

.plan input:checked + label:after {
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 1px solid #333;
    background-color: #64ad8a;
    /* border-color: black; */
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

/* .swiper-button-next {
    background-color: #444444;
    padding-top: 2px;
}

.swiper-button-prev {
    background-color: #444444;
    padding-top: 2px;
} */

.stepy-navigator-custom {
    text-align: right;

   /* .btn + .btn {
        margin-left: 5px;
    }*/
}
