; --------------------- Setup Database ---------------------

[database]
conn_str = "pgsql:host=192.168.200.254;port=5432;dbname=db_docohealth"
user = "postgres"
password = "bdgRkamil"


; --------------------- Setup API ---------------------

[api]
dcms = "http://192.168.200.254:8022/v1/"
master = "http://192.168.200.254:8023/v1/"
kasir = "http://192.168.200.254:8024/v1/"
laboratorium = "http://192.168.200.254:8025/v1/"
radiologi = "http://192.168.200.254:8026/v1/"
informasi = "http://192.168.200.254:8027/v1/"
apotek = "http://192.168.200.254:8028/v1/"
pendaftaran = "http://192.168.200.254:8029/v1/"
bedahsentral = "http://192.168.200.254:8030/v1/"
gudang = "http://192.168.200.254:8031/v1/"
rm = "http://192.168.200.254:8032/v1/"
igd = "http://192.168.200.254:8033/v1/"
ranap = "http://192.168.200.254:8034/v1/"
rajal = "http://192.168.200.254:8035/v1/"
antrian = "http://192.168.200.254:8036/v1/"
penjaminasuransi = "http://192.168.200.254:8037/v1/"
pengadaan = "http://192.168.200.254:8038/v1/"
gizi = "http://192.168.200.254:8039/v1/"
jenazah = "http://192.168.200.254:8040/v1/"
ambulan = "http://192.168.200.254:8048/v1/"
bankdarah = "http://192.168.200.254:8049/v1/"

; --------------------- Setup Redis ---------------------

[redis]
name = "dev"
hostname = "localhost"
port = "6379"
database = 0

; --------------------- Setup Session ---------------------

[session]
session_name = "development"

; --------------------- Setup Bot Telegram ---------------------

[chat_id]
telegram = "-1206618608"
server = "[DEV]"

; --------------------- Setup Direct kiosK ---------------------
[kiosk]
username = "antrian"
password = "123456"
modul_id = "139"
instalasi_index = "0"
instalasi_id = "8"
room_index = "0"
room_id = "176"

; —------------------- Setup Inacbgs —-------------------
[inacbg]
url = "http://192.168.200.28/e-klaim/ws.php"
header = "Content-Type:application/x-www-form-urlencoded"

[extensions]
mcu:pemeriksaan_periksa="app\extensions\mcu\PemeriksaanKramat"
bedah:item_operasi="app\extensions\bedah\ItemOperasi"
