; --------------------- Setup Database ---------------------

[database]
conn_str = "pgsql:host=192.168.200.254;port=5432;dbname=db_docohealth"
user = "postgres"
password = "bdgRkamil"

; --------------------- Setup Redis ---------------------

[redis]
name = "integerasi"
hostname = "redis"
port = "6379"
database = 0

; --------------------- Pemilihan PHP sock ---------------------
[php-fpm]
path = "/var/run/php/php7.2-fpm.sock"

;---------------------- Connector External -----------------------------
[connector-external]
url = "http://192.168.99.100:8088/on/"